<%- include('./include/_header')%>

    <main class="home">
      <div class="container">
        <div>
          <a href="/" class="text-gradient"><i class="fa-solid fa-angle-double-left"></i> All Users</a>
        </div> 

        <div class="container">
            <div class="form-title text-center">
              <h3 class="title-dark">New User</h3>
              <span class="text-gray">Use the below form to create a new account.</span>
            </div>
        </div>

        <%- include('./include/_form')%>
    </main> 

<%- include('./include/_footer')%>
